<div class="log-form col-xs-12 col-md-4">
  <%= simple_form_for [@restaurant, @food]  do |f| %>

        <% if current_page?(controller: 'foods', action: 'new')  %>
          <h2>Criar uma comida</h2>
        <% else %>
          <h2>Editar essa comida</h2>
        <% end %>
        <%= f.input :name, label: 'Nome:'%>
        <%= f.input :price, label: "Preço:" %>
        <%= f.input :photo, label: "Photo:" %>
        <%= f.submit "Criar comida" %>
  <% end %>
</div>
