<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <% case current_user.profile.name %>
          <% when "Owner" then %>
                <li class="nav-item">
                  <%= link_to "Meus restaurantes", restaurants_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Minhas comidas", foods_path, class: "nav-link" %>
                </li>
           <% when "Client" then %>
                 <li class="nav-item">
                  <%= link_to "Ver comidas", foods_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Meu pedido", baskets_path, class: "nav-link" %>
                </li>
            <% end %>

            <li class="nav-item">
            <%= link_to raw('<i class="fas fa-sign-out-alt"></i>Log out'),   destroy_user_session_path, :method => :delete, class: "nav-link" %>
            </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
