
<div class="row">
  <div class="banner short-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=@restaurant.photo%>);">
      <div class="home-container">
        <div class="landing-intro transparent padding1em">
          <h1><%=@restaurant.name%></h1>
          <p><%=@restaurant.address%></p>
          <p><%=@restaurant.description%></p>
         </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card-container col-xs-12 col-md-8">
       <div class="row flex-center">
      <% if !current_user.nil? %>
        <% if @restaurant.user == current_user %>

           <button class="btn btn-secondary grey col-xs-12" style="margin-bottom: 0.25em"><%= link_to raw('<i class="fas fa-plus-circle"></i>Acrecentar comida'),  new_restaurant_food_path(@restaurant), class: "white-color-link" %>
              </button>
        <% end %>
        <% if policy(@restaurant).edit? %>
          <%= link_to "Update", edit_restaurant_path(@restaurant) %>
        <% end %>

      <% end %>
    </div>
    <div class="row">
      <%= render 'shared/cards_food', food: @foods %>
    </div>
    </div>
    <div class="map-container col-xs-12 col-md-4">
      <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
